<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>pro7.backup</string>
	<key>Program</key>
	<string>/Users/techd/Documents/Scripts/pro7backup.sh</string>
	<key>StartCalendarInterval</key>
		<array>
			<dict>
				<key>Minute</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Minute</key>
				<integer>30</integer>
			</dict>
		</array>
	<key>StandardOutPath</key>
	<string>/Users/techd/Sync/ProPresenter_Shared_Content/Logs/ZF_Laptop_pro7backup_log.txt</string>
	<key>StandardErrorPath</key>
	<string>/Users/techd/Sync/ProPresenter_Shared_Content/Logs/ZF_Laptop_pro7backup_errlog.txt</string>
</dict>
</plist>